*:not(.fab, .fa, .lg-outer *) {
    box-sizing: border-box;
    font-family: "Heebo", sans-serif;
}

.g-recaptcha {
    display: flex;
    justify-content: center;
}

select,
input {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid #CCCCCC;
}

.increment-input::-webkit-inner-spin-button,
.increment-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

.light-box-shadow {
    box-shadow: 0 2px 10px rgba(0, 0, 0, .125);
}


/* Styles for the popup container */

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5555;
}


/* Styles for the popup content */

.popup .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}


/* Styles for the close button (X) */

.popup .close {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 20px;
    cursor: pointer;
    background: var(--primary);
    color: #FFF;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}


/* Styles for the image inside the popup */

.popup .popup-content img {
    max-width: 100%;
    max-height: 80vh;
    /* You can adjust the maximum height as needed */
}

/* Toggle Password */
.toggle-password {
    position: absolute;
    right: 8px;
    cursor: pointer;
    color: #5b6c7c;
}

/* Notifications Blink Icon */
.blink {
    animation: blink-animation 3s steps(5, start) infinite;
    -webkit-animation: blink-animation 3s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.blink-badge {
    background-color: var(--primary);
}

@media (max-width: 767px) {

    a,
    button,
    b,
    p,
    span,
    label,
    .form-control,
    .custom-file-label,
    .custom-control-label {
        font-size: 14px;
    }
}

@media (max-width: 575px) {
    .g-recaptcha {
        transform: scale(0.77); /* Adjust the scale as needed */
        transform-origin: 0 40px 0; /* Maintain alignment */

    }
    .g-recaptcha > div {
        width: 230px!important;
    }
}
